:host {
  display: block;
  border: 1px solid rgb(39, 134, 76);
  border-radius: 5px;
  box-shadow: 5px 6px 5px 0px rgba(72, 230, 113, 0.75);
  -webkit-box-shadow: 5px 6px 5px 0px rgba(72, 230, 113, 0.75);
  -moz-box-shadow: 5px 6px 5px 0px rgba(72, 230, 113, 0.75);

  height: 200px;
  margin: 10px;
  padding: 5px;
  width: 250px;

  h1 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  p {
    font-size: 0.75rem;
  }

  span {
    font-size: 1rem;
    font-weight: bold;
  }

  button {
    margin-left: 20px;
    padding: 5px 10px;
    background-color: rgb(144, 10, 185);
    font-weight: bold;
    border-radius: 10px;
    color: white;
  }
}
